@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 255, 255, 255;
  --background-start-rgb: 0, 0, 0;
  --background-end-rgb: 0, 0, 0;
}

body {
  color: rgb(var(--foreground-rgb));
  background: black;
  min-height: 100vh;
  font-family: var(--font-inter), sans-serif;
  overflow-x: hidden;
}

h1,
h2,
h3,
h4,
.font-outfit {
  font-family: var(--font-outfit), sans-serif;
}